In [3]:
import numpy as np 
import pandas as pd

In [5]:
s1 = pd.Series(2)
s1

0    2
dtype: int64

In [7]:
# Create a series of multiple items from a list
s2 = pd.Series([1,2,3,4,5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
s2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [11]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
# explicitly create an index
s3 = pd.Series([1,2,3], index=['a','b','c'])
s3

a    1
b    2
c    3
dtype: int64

In [16]:
s3['c']

3

In [19]:
s3[2]

3

In [24]:
s4 = pd.Series(['A','B','C','D','E'], index=s2.index)
s4

0    A
1    B
2    C
3    D
4    E
dtype: object

In [26]:
s4 = pd.Series({'a':1,
'b':2,
'c':3,
'd':4})
s4

a    1
b    2
c    3
d    4
dtype: int64

In [28]:
s5 = pd.Series(np.array([22,33,44,55,66]))
s5

0    22
1    33
2    44
3    55
4    66
dtype: int32

In [34]:
s = pd.Series([0,1,1,2,3,4,4,5,6,7,np.nan])
s

0     0.0
1     1.0
2     1.0
3     2.0
4     3.0
5     4.0
6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [38]:
print(len(s))
print(s.size)
print(s.shape)
print(s.count())
print(s.unique())
print(s.value_counts())

11
11
(11,)
10
[ 0.  1.  2.  3.  4.  5.  6.  7. nan]
4.0    2
1.0    2
7.0    1
6.0    1
5.0    1
3.0    1
2.0    1
0.0    1
dtype: int64

In [41]:
s.head()

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [45]:
s.tail()

6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [48]:
s.tail(n=3)

8     6.0
9     7.0
10    NaN
dtype: float64

In [50]:
s.take([3,5,9]) # Like Fancy Indexing

3    2.0
5    4.0
9    7.0
dtype: float64

In [52]:
#Looking up valued in Series
print (s3)
s3['a']

a    1
b    2
c    3
dtype: int64

1

In [54]:
print (s3)
s3[1]

a    1
b    2
c    3
dtype: int64

2

In [57]:
print (s3)
s3[['c','a']]

a    1
b    2
c    3
dtype: int64

c    3
a    1
dtype: int64

In [59]:
s5 = pd.Series([1,2,3], index=[2,3,4])
s5

2    1
3    2
4    3
dtype: int64

In [61]:
s5[2] # Called by label indexing

1

In [67]:
s5.loc[2] # Location

1

In [70]:
s5.iloc[0] # Integer Location

1

In [74]:
s5.loc[[2,3]]

2    1
3    2
dtype: int64

In [75]:
s5.iloc[[0,2]]

2    1
4    3
dtype: int64